.card {
    display: flex;
    justify-content: space-between;
    align-items: center;


    & .title {
        color: var(--color-neutral-80);
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 .2em 0;
        max-width: 31ch;



    }

    & .description {
        color: var(--color-neutral-40);
        font-size: 12px;
    }
}

.content {
    cursor: pointer;
}

.card+.card {
    margin-top: 1em;
}